@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-pink-50: #fff1f2;
  --color-pink-100: #ffe4e6;
  --color-pink-200: #fecdd3;
  --color-pink-500: #f43f5e;
  --color-pink-600: #e11d48;
}
